{% extends "::base.html.twig" %}

{% block title %} {{ 'Add new person' }} {% endblock %}

{% block body %}
    <h3 class="w3-container w3-khaki">ADD NEW PERSON TO THE BOOK</h3>
    <div class="w3-third">
    <form action="/book/new" method="POST" enctype="multipart/form-data">
        <p>
            Name: <input type="text" name="name" required><br>
        </p>
        <p>
            Surname: <input type="text" name="surname" required><br>
        </p>
        <p>
            Description: <input type="text" name="description" required><br>
        </p>
        <p>
            <input type="submit" class="w3-button w3-grey w3-padding-large" name="send" value="Add">
        </p>

    </form>
        <a href="/book" class="w3-button w3-teal w3-padding-large">Main Page</a>
    </div>

{% endblock %}