{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <p><a href="/login">Registration confirmed</a></p>

{% endblock fos_user_content %}
