{% trans_default_domain 'FOSUserBundle' %}

<div class="w3-container w3-lime" style="font-size: x-large">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="Sign up" />
    </div>
{{ form_end(form) }}
